*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Euclid Circular A";
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #262525;
  background-color: #FFFFFF;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 121rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

section {
  margin-bottom: 18rem;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.3333333333vw;
    -webkit-text-size-adjust: none;
  }
  body {
    -webkit-text-size-adjust: none;
  }
  .container {
    padding: 0 3.2rem;
    width: 100%;
  }
}
.button {
  font-family: "ProximaNova-Regular", Arial, sans-serif;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: normal;
  padding: 1.9rem 3.2rem 1.7rem 8.4rem;
  background-image: url("../img/svg/button-list.svg");
  background-position: 2.2rem 1rem;
  background-repeat: no-repeat;
  background-size: 3rem 4rem;
  background-color: #CCA870;
  box-shadow: 0px 2px 25px -7px #CCA870;
  display: inline-block;
  cursor: pointer;
}
@media (max-width: 48em) {
  .button {
    padding: 3.6rem 9rem;
    background-image: none;
    font-size: 4rem;
  }
}

.slider-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
}
.slider-pagination .swiper-pagination-bullet {
  border-radius: 0;
  background-color: rgba(204, 168, 112, 0.3);
}
.slider-pagination .swiper-pagination-bullet-active {
  background-color: #CCA870;
}

.decoration-hero {
  position: relative;
  height: 95.5rem;
  padding-top: 26.8rem;
  margin-bottom: 0;
}
.decoration-hero__title {
  color: #fff;
  text-shadow: 4px 4px 19px #2E0408;
  font-size: 6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 7.8rem; /* 130% */
  width: 41.6rem;
  margin-bottom: 4.4rem;
}
.decoration-hero__text {
  color: #FFF;
  font-family: "ProximaNova-Regular", Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 4.4rem;
  width: 49.3rem;
}
.decoration-hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.decoration-hero__img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 48em) {
  .decoration-hero {
    height: 120rem;
    padding-top: 18.4rem;
    padding-bottom: 3.2rem;
    margin-bottom: 22rem;
  }
  .decoration-hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .decoration-hero__title {
    width: 68.6rem;
    margin: 0 auto;
    text-align: center;
    font-size: 7.2rem;
    line-height: 140%; /* 10.08rem */
    margin-bottom: 7rem;
  }
  .decoration-hero__text {
    font-size: 4rem;
    font-weight: 400;
    line-height: 124%; /* 4.96rem */
    width: auto;
    text-align: center;
  }
  .decoration-hero__button {
    margin-top: auto;
    padding: 3.6rem 7rem;
  }
}

.floristics {
  position: relative;
  margin-bottom: 17rem;
}
.floristics__swiper {
  width: 121rem;
  overflow-y: visible;
}
.floristics__swiper-slide {
  display: flex;
  justify-content: space-between;
}
.floristics__swiper-slide_img {
  width: 49.3rem;
  height: 75.3rem;
  margin-top: -17rem;
}
.floristics__swiper-slide_img img {
  width: 100%;
  height: 100%;
}
.floristics__swiper-slide_descr {
  width: 58.5rem;
  padding-top: 17rem;
}
.floristics__swiper-slide_title {
  color: #3C3C3B;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}
.floristics__swiper-slide_text {
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.12rem; /* 130% */
}
.floristics__swiper-pagination {
  display: none;
}
.floristics__swiper-controlls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  inset: 0;
  margin: auto;
  width: 172rem;
}
.floristics__swiper-controlls div {
  cursor: pointer;
}
@media (max-width: 48em) {
  .floristics {
    margin-bottom: 22rem;
  }
  .floristics__swiper {
    width: auto;
  }
  .floristics__swiper-slide {
    flex-direction: column-reverse;
  }
  .floristics__swiper-slide_img {
    margin: 0;
    width: auto;
    height: 64rem;
  }
  .floristics__swiper-slide_descr {
    margin-bottom: 5.6rem;
    padding-top: 0;
  }
  .floristics__swiper-slide_title {
    font-size: 7.2rem;
    line-height: 140%; /* 10.08rem */
    letter-spacing: 0.2rem;
    margin-bottom: 2.4rem;
  }
  .floristics__swiper-slide_text {
    font-size: 4rem;
    line-height: 5.2rem; /* 130% */
  }
  .floristics__swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 4.8rem;
         column-gap: 4.8rem;
  }
  .floristics__swiper-pagination .swiper-pagination-bullet {
    margin: 0;
    border-radius: 0;
    background-color: rgba(204, 168, 112, 0.3);
    width: 1.2rem;
    height: 1.2rem;
  }
  .floristics__swiper-pagination .swiper-pagination-bullet.active {
    background-color: #CCA870;
  }
  .floristics__swiper-controlls {
    width: 68.6rem;
    inset: auto auto -8rem auto;
  }
}

.ideas {
  position: relative;
  margin-bottom: 17rem;
}
.ideas__title {
  color: #3C3C3B;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  margin-bottom: 4.4rem;
}
.ideas__swiper {
  margin-left: -41rem;
  width: 162rem;
}
.ideas__swiper-slide {
  width: 39rem;
  height: 60rem;
}
.ideas__swiper-slide img {
  width: 100%;
  height: 100%;
}
.ideas__swiper-controlls {
  position: absolute;
  top: calc(50% + 1rem);
  right: 10rem;
  cursor: pointer;
}
@media (max-width: 48em) {
  .ideas {
    margin-bottom: 22rem;
  }
  .ideas__title {
    font-size: 7.2rem;
    font-weight: 500;
    line-height: 140%; /* 10.08rem */
    letter-spacing: 0.2rem;
    margin-bottom: 8rem;
    text-align: center;
  }
  .ideas__swiper {
    margin-left: -3.2rem;
    width: 75rem;
  }
  .ideas__swiper-slide {
    width: 40rem;
    height: 54rem;
  }
  .ideas__swiper-controlls {
    display: none;
  }
}

.decoration-slider {
  padding: 17rem 0 19rem 0;
  background-color: rgba(204, 168, 112, 0.2);
  margin: 0;
}
.decoration-slider__swiper {
  width: 121rem;
  overflow-y: visible;
}
.decoration-slider__swiper-slide {
  display: flex;
  justify-content: space-between;
}
.decoration-slider__swiper-slide_left {
  width: 47.5rem;
  padding-top: 15.2rem;
}
.decoration-slider__swiper-slide_title {
  color: #3C3C3B;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}
.decoration-slider__swiper-slide_text {
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.12rem; /* 130% */
  margin-bottom: 4rem;
}
.decoration-slider__swiper-slide_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.decoration-slider__swiper-slide_bottom .button {
  background-image: none;
  padding: 1.8rem 4.2rem;
}
.decoration-slider__swiper-slide_controlls {
  display: flex;
  align-items: center;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
.decoration-slider__swiper-slide_controlls div {
  cursor: pointer;
}
.decoration-slider__swiper-slide_right {
  width: 56.4rem;
  height: 69rem;
  position: relative;
  margin-right: 2rem;
}
.decoration-slider__swiper-slide_right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #CCA870;
  right: -2rem;
  bottom: -2rem;
  z-index: 1;
}
.decoration-slider__swiper-slide_right img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}
@media (max-width: 48em) {
  .decoration-slider {
    padding: 22rem 0;
  }
  .decoration-slider__swiper {
    width: auto;
    margin-left: -3.2rem;
  }
  .decoration-slider__swiper-slide {
    flex-direction: column;
  }
  .decoration-slider__swiper-slide_left {
    width: auto;
    padding-left: 3.2rem;
    margin-bottom: 8rem;
  }
  .decoration-slider__swiper-slide_title {
    font-size: 7.2rem;
    line-height: 140%; /* 10.08rem */
    letter-spacing: 0.2rem;
    margin-bottom: 2.4rem;
  }
  .decoration-slider__swiper-slide_text {
    font-size: 4rem;
    line-height: 5.2rem; /* 130% */
    margin-bottom: 5.6rem;
  }
  .decoration-slider__swiper-slide_bottom .button {
    padding: 3.6rem 9.6rem;
  }
  .decoration-slider__swiper-slide_right {
    width: 69.4rem;
    height: 72rem;
  }
}

.statistic {
  padding: 17rem 0;
  margin: 0;
}
.statistic__container {
  display: flex;
  padding: 0 9.5rem;
  justify-content: space-between;
  align-items: center;
}
.statistic__column {
  text-align: center;
  width: 20.1rem;
}
.statistic__count {
  color: #CCA870;
  font-size: 10rem;
  font-weight: 500;
  line-height: normal;
}
.statistic__text {
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.12rem; /* 130% */
  width: 19rem;
}
@media (max-width: 48em) {
  .statistic {
    padding: 22rem 0;
  }
  .statistic__container {
    padding: 0;
    flex-direction: column;
    row-gap: 8rem;
    justify-content: center;
  }
  .statistic__column {
    width: auto;
  }
  .statistic__count {
    color: #CCA870;
    font-size: 12rem;
    font-weight: 500;
    line-height: normal;
  }
  .statistic__text {
    font-size: 4rem;
    font-weight: 500;
    line-height: 5.2rem; /* 130% */
    width: auto;
  }
}

.decoration-question {
  position: relative;
  margin-bottom: 17rem;
  padding: 14.5rem 0;
}
.decoration-question__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.decoration-question__img {
  width: 42rem;
  height: 40rem;
  margin-left: 20.5rem;
}
.decoration-question__img img {
  width: 100%;
  height: 100%;
}
.decoration-question__descr {
  width: 47.5rem;
}
.decoration-question__title {
  color: #3C3C3B;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}
.decoration-question__text {
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.12rem; /* 130% */
}
.decoration-question__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 64.3rem;
  height: 69rem;
  z-index: -1;
}
.decoration-question::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 64.3rem);
  height: 100%;
  background-color: rgba(204, 168, 112, 0.2);
  z-index: -1;
}
@media (max-width: 48em) {
  .decoration-question {
    padding: 22rem 0 48.6rem 0;
    margin-bottom: 22rem;
  }
  .decoration-question__container {
    flex-direction: column-reverse;
    row-gap: 8rem;
  }
  .decoration-question__img {
    margin: 0;
    width: 44rem;
    height: 42rem;
  }
  .decoration-question__descr {
    width: auto;
  }
  .decoration-question__title {
    font-size: 7.2rem;
    font-weight: 500;
    line-height: 140%; /* 10.08rem */
    letter-spacing: 0.2rem;
    margin-bottom: 2.4rem;
  }
  .decoration-question__text {
    font-size: 4rem;
    font-weight: 500;
    line-height: 5.2rem; /* 130% */
  }
  .decoration-question__background {
    top: calc(100% - 76.6rem);
    width: 75rem;
    height: 76.6rem;
  }
  .decoration-question::after {
    width: 100%;
  }
}

.budget {
  position: relative;
  margin-bottom: 11rem;
}
.budget__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.budget__descr {
  width: 37.7rem;
}
.budget__title {
  color: #3C3C3B;
  font-size: 4rem;
  font-weight: 500;
  line-height: 5.2rem; /* 130% */
  margin-bottom: 1.9rem;
}
.budget__text {
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.12rem; /* 130% */
  margin-bottom: 5.42rem;
}
.budget__img {
  width: 58.8rem;
  height: 62.8rem;
}
.budget__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.budget__background img {
  width: 100%;
  height: 100%;
}
.budget .button {
  width: 33rem;
  background-image: url(../img/svg/wallet.svg);
  text-align: center;
  background-position-y: center;
}
@media (max-width: 48em) {
  .budget {
    margin-bottom: 22rem;
    padding: 16rem 0;
  }
  .budget__descr {
    width: auto;
  }
  .budget__title {
    font-size: 7.2rem;
    font-weight: 500;
    line-height: 140%; /* 10.08rem */
    letter-spacing: 0.2rem;
    margin-bottom: 2.4rem;
  }
  .budget__text {
    font-size: 4rem;
    font-weight: 500;
    line-height: 5.2rem; /* 130% */
    margin-bottom: 5.6rem;
  }
  .budget .button {
    width: 100%;
    background-image: none;
    text-align: left;
  }
  .budget__img {
    display: none;
  }
}

.organization-hero {
  position: relative;
  height: 90rem;
  margin-bottom: 34rem;
}
.organization-hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.organization-hero__title {
  color: #fff;
  text-align: center;
  text-shadow: 4px 4px 19px #2E0408;
  font-size: 6rem;
  font-weight: 500;
  line-height: 7.8rem; /* 130% */
  margin-bottom: 4.4rem;
  width: 58.3rem;
}
.organization-hero__text {
  color: #fff;
  text-align: center;
  font-family: "ProximaNova-Regular", Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 4.4rem;
  width: 63.3rem;
}
.organization-hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.organization-hero__img img {
  width: 100%;
  height: 100%;
}
.organization-hero .button {
  width: 45.7rem;
}
@media (max-width: 48em) {
  .organization-hero {
    height: 136rem;
    padding: 18.4rem 0 3.2rem 0;
    margin-bottom: 22rem;
  }
  .organization-hero__container {
    justify-content: flex-start;
  }
  .organization-hero__title {
    font-size: 7.2rem;
    font-weight: 500;
    line-height: 140%; /* 10.08rem */
    margin-bottom: 7rem;
  }
  .organization-hero__text {
    font-size: 4rem;
    line-height: 124%; /* 4.96rem */
  }
  .organization-hero .button {
    margin-top: auto;
    width: 100%;
    text-align: center;
  }
}

.shore {
  background-color: rgba(204, 168, 112, 0.2);
  padding-bottom: 56.5rem;
}
.shore__container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.shore__descr {
  width: 42.4rem;
  padding-top: 17rem;
}
.shore__img {
  width: 58.4rem;
  height: 77.5rem;
  margin-top: -17rem;
}
.shore__img img {
  width: 100%;
  height: 100%;
}
.shore__title {
  color: #3C3C3B;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}
.shore__text {
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.12rem; /* 130% */
}
.shore__img-small {
  position: absolute;
  left: 33.1rem;
  bottom: -39.5rem;
  width: 29.5rem;
  height: 29.5rem;
}
.shore__img-small img {
  width: 100%;
  height: 100%;
}
.shore__shell {
  position: absolute;
  bottom: -46.3rem;
  right: 2.7rem;
  width: 38.3rem;
  height: 33.5rem;
}
.shore__shell img {
  width: 100%;
  height: 100%;
}
@media (max-width: 48em) {
  .shore {
    padding: 22rem 0 22rem 0;
  }
  .shore__container {
    flex-direction: column;
  }
  .shore__descr {
    width: auto;
    margin-bottom: 5.6rem;
    padding-top: 0rem;
  }
  .shore__title {
    color: #3C3C3B;
    font-size: 7.2rem;
    font-weight: 500;
    line-height: 140%; /* 10.08rem */
    letter-spacing: 0.2rem;
    margin-bottom: 2.4rem;
    width: 45rem;
  }
  .shore__text {
    color: #3C3C3B;
    font-size: 4rem;
    font-weight: 500;
    line-height: 5.2rem; /* 130% */
  }
  .shore__img {
    margin: 0;
    width: 68.6rem;
    height: 56rem;
  }
  .shore__img-small {
    display: none;
  }
  .shore__shell {
    width: 31.2rem;
    height: 27.4rem;
    top: 0;
    bottom: calc(100% - 27.4rem);
  }
}

.include {
  position: relative;
  margin-bottom: 22.4rem;
}
.include__container {
  position: relative;
}
.include__title {
  color: #3C3C3B;
  text-align: center;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 4.4rem;
}
.include__tabs {
  display: flex;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 6.4rem;
}
.include__tab {
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}
.include__tab.active {
  padding-left: 3.1rem;
  padding-right: 3.1rem;
  border: 1px solid #CCA870;
}
.include__slider-mobile {
  display: none;
}
.include__slider-mobile.active {
  display: none;
}
.include__slider-desktop {
  position: relative;
  display: none;
}
.include__slider-desktop.active {
  display: block;
}
.include__slider-desktop .include__swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.include__slider-desktop .include__swiper-slide_number {
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 2.4rem;
}
.include__slider-desktop .include__swiper-slide_img {
  width: 28.8rem;
  height: 34rem;
  margin-bottom: 2.7rem;
}
.include__slider-desktop .include__swiper-slide_img img {
  width: 100%;
  height: 100%;
}
.include__slider-desktop .include__swiper-slide_text {
  color: #3C3C3B;
  font-size: 2rem;
  font-weight: 500;
  line-height: normal;
}
.include__slider-desktop .include__swiper-slide_column-big {
  position: relative;
}
.include__slider-desktop .include__swiper-slide_column-big .include__swiper-slide_img {
  width: 39rem;
  height: 46rem;
  margin: 0;
}
.include__slider-desktop .include__swiper-slide_column-big .include__swiper-slide_img img {
  width: 100%;
  height: 100%;
}
.include__slider-desktop .include__swiper-slide_column-big .include__swiper-slide_text {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  z-index: 2;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  line-height: normal;
  padding: 1rem 1.6rem;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(6.0500001907px);
          backdrop-filter: blur(6.0500001907px);
}
.include .include__swiper-controlls {
  position: absolute;
  bottom: -5.4rem;
  left: 35.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 121rem;
}
.include .include__swiper-controlls .include__swiper-prev,
.include .include__swiper-controlls .include__swiper-next {
  cursor: pointer;
}
@media (max-width: 48em) {
  .include {
    margin-bottom: 22rem;
  }
  .include__title {
    color: #3C3C3B;
    font-size: 7.2rem;
    font-weight: 500;
    line-height: 140%; /* 10.08rem */
    letter-spacing: 0.2rem;
    margin-bottom: 4rem;
  }
  .include__tabs-container {
    width: 68.6rem;
    overflow-x: scroll;
    margin-bottom: 8rem;
  }
  .include__tabs {
    width: 100%;
    margin: 0;
    margin-left: 42rem;
  }
  .include__tab {
    text-wrap: nowrap;
    color: #3C3C3B;
    font-size: 4rem;
    font-weight: 500;
    line-height: 5.2rem; /* 130% */
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
  }
  .include__tab.active {
    padding: 2.2rem 3rem 2.2rem 3rem;
  }
  .include__slider-desktop.active {
    display: none;
  }
  .include__slider-mobile {
    display: none;
  }
  .include__slider-mobile.active {
    display: block;
    height: 80.4rem;
  }
  .include__slider-mobile .include__swiper {
    height: 80.4rem;
  }
  .include__slider-mobile .include__swiper-slide {
    width: 54rem;
  }
  .include__slider-mobile .include__swiper-slide_img {
    width: 52rem;
    height: 60rem;
    margin-bottom: 5.6rem;
  }
  .include__slider-mobile .include__swiper-slide_img img {
    width: 100%;
    height: 100%;
  }
  .include__slider-mobile .include__swiper-slide_number {
    color: #3C3C3B;
    font-size: 4rem;
    font-weight: 500;
    line-height: 5.2rem; /* 130% */
    margin-bottom: 4.4rem;
  }
  .include__slider-mobile .include__swiper-slide_text {
    color: #3C3C3B;
    font-size: 4rem;
    font-weight: 500;
    line-height: 5.2rem; /* 130% */
  }
  .include__slider-mobile .include__swiper .swiper-slide-active .include__swiper-slide_img {
    position: relative;
  }
  .include__slider-mobile .include__swiper .swiper-slide-active .include__swiper-slide_img::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #CCA870;
    position: absolute;
    right: -2rem;
    bottom: -2rem;
    z-index: -1;
  }
  .include .include__swiper-controlls {
    width: 68.6rem;
    left: 3.2rem;
  }
}

.begin {
  position: relative;
  margin-bottom: 17rem;
}
.begin::before {
  content: "";
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  height: 59rem;
  background-color: rgba(204, 168, 112, 0.2);
  z-index: -1;
}
.begin__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.begin__descr {
  width: 47.5rem;
}
.begin__title {
  color: #3C3C3B;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}
.begin__text {
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.12rem; /* 130% */
  margin-bottom: 4rem;
}
.begin__img {
  position: relative;
  width: 56.4rem;
  height: 71rem;
}
.begin__img::before {
  content: "";
  position: absolute;
  right: -2rem;
  top: -2rem;
  width: 100%;
  height: 75rem;
  background-color: #CCA870;
  z-index: -1;
}
.begin__img img {
  width: 100%;
  height: 100%;
}
.begin .button {
  background-image: none;
  padding: 1.8rem 4.2rem;
}
@media (max-width: 48em) {
  .begin {
    padding: 22rem 0 24.4rem 0;
  }
  .begin::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .begin__container {
    flex-direction: column;
  }
  .begin__descr {
    width: auto;
    margin-bottom: 10.4rem;
  }
  .begin__title {
    color: #3C3C3B;
    font-size: 7.2rem;
    font-weight: 500;
    line-height: 140%; /* 10.08rem */
    letter-spacing: 0.2rem;
    margin-bottom: 2.4rem;
  }
  .begin__text {
    color: #3C3C3B;
    font-size: 4rem;
    font-weight: 500;
    line-height: 5.2rem; /* 130% */
    margin-bottom: 5.6rem;
  }
  .begin__img {
    width: 69.4rem;
    height: 72rem;
    margin-left: -5.2rem;
  }
  .begin__img::before {
    top: -2.4rem;
    right: -2.4rem;
    height: 76.8rem;
  }
  .begin .button {
    padding: 3.6rem 9.6rem;
  }
}

.premium {
  overflow-x: hidden;
}
.premium__container {
  display: flex;
  justify-content: space-between;
}
.premium__img {
  position: relative;
  width: 54.4rem;
  height: 73.5rem;
}
.premium__img::before, .premium__img::after {
  content: "";
  position: absolute;
  width: 18.5rem;
  height: 6rem;
  background-color: #CCA870;
  z-index: -1;
}
.premium__img::before {
  top: -2rem;
  left: -2rem;
}
.premium__img::after {
  right: -2rem;
  bottom: -2rem;
}
.premium__img img {
  width: 100%;
  height: 100%;
}
.premium__descr {
  width: 55.5rem;
  display: flex;
  flex-direction: column;
}
.premium__descr-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.4rem;
}
.premium__descr_diamond {
  margin-top: 1.3rem;
  width: 10.6rem;
  height: 9.9rem;
}
.premium__descr_diamond img {
  width: 100%;
  height: 100%;
}
.premium__descr_title {
  color: #3C3C3B;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  width: 41.5rem;
}
.premium__descr-body {
  margin-bottom: 6.4rem;
}
.premium__descr-body p {
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.12rem; /* 130% */
}
.premium__descr-body p:last-child {
  color: #CCA870;
}
.premium__descr-body p:not(:last-child) {
  margin-bottom: 5rem;
}
.premium__descr-bottom {
  position: relative;
  width: 42.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.premium__descr-bottom::before {
  content: "";
  position: absolute;
  top: 5rem;
  left: 11.8rem;
  width: 12rem;
  height: 0.1rem;
  background-color: #CCA870;
}
.premium__descr_rate {
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  background-color: #F5EEE2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.12rem; /* 130% */
}
.premium__descr_rate-text {
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.12rem; /* 130% */
  width: 17rem;
}
@media (max-width: 48em) {
  .premium {
    margin-bottom: 24.4rem;
  }
  .premium__container {
    flex-direction: column-reverse;
  }
  .premium__descr {
    position: relative;
    width: auto;
    margin-bottom: 10.4rem;
  }
  .premium__descr_diamond {
    position: absolute;
    right: -15.4rem;
    bottom: 21rem;
    width: 24.8rem;
    height: 23rem;
  }
  .premium__descr_title {
    font-size: 7.2rem;
    font-weight: 500;
    line-height: 140%; /* 10.08rem */
    letter-spacing: 0.2rem;
    margin-bottom: 4rem;
    width: auto;
  }
  .premium__descr-body {
    margin-bottom: 8rem;
  }
  .premium__descr-body p {
    font-size: 4rem;
    font-weight: 500;
    line-height: 5.2rem; /* 130% */
  }
  .premium__descr-body p:not(:last-child) {
    margin-bottom: 4rem;
  }
  .premium__descr-body p:last-child {
    width: 56rem;
  }
  .premium__descr-bottom {
    width: auto;
  }
  .premium__descr-bottom::before {
    width: 20.6rem;
    top: 6.2rem;
    left: 16rem;
  }
  .premium__descr_rate {
    width: 12.4rem;
    height: 12.4rem;
    border-radius: 20rem;
    font-size: 4rem;
    font-weight: 500;
    line-height: 5.2rem; /* 130% */
  }
  .premium__descr_rate-text {
    font-size: 4rem;
    font-weight: 500;
    line-height: 5.2rem; /* 130% */
    width: 28.4rem;
  }
  .premium__img {
    width: 63.8rem;
    height: 86.2rem;
    margin: 0 auto;
  }
}

.preparation {
  padding: 17rem 0 19rem 0;
  background-color: rgba(204, 168, 112, 0.2);
  margin-bottom: 17rem;
}
.preparation__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.preparation__descr {
  width: 47.5rem;
  padding-top: 17rem;
}
.preparation__title {
  color: #3C3C3B;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}
.preparation__text {
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.12rem; /* 130% */
  margin-bottom: 4rem;
}
.preparation__img {
  position: relative;
  width: 56.4rem;
  height: 69rem;
}
.preparation__img-flower {
  position: absolute;
  right: -3.73rem;
  bottom: -5.7rem;
  width: 16.9rem;
  height: 22.8rem;
}
.preparation__img::before {
  content: "";
  position: absolute;
  right: -2rem;
  bottom: -2rem;
  width: 100%;
  height: 100%;
  background-color: #CCA870;
  z-index: -1;
}
.preparation__img img {
  width: 100%;
  height: 100%;
}
.preparation .button {
  background-image: none;
  padding: 1.8rem 4.2rem;
}
@media (max-width: 48em) {
  .preparation {
    padding: 22rem 0 24.4rem 0;
    margin-bottom: 26.8;
  }
  .preparation__container {
    flex-direction: column;
  }
  .preparation__descr {
    width: auto;
    margin-bottom: 8rem;
    padding-top: 0rem;
  }
  .preparation__title {
    font-size: 7.2rem;
    font-weight: 500;
    line-height: 140%; /* 10.08rem */
    letter-spacing: 0.2rem;
    margin-bottom: 2.4rem;
  }
  .preparation__text {
    font-size: 4rem;
    font-weight: 500;
    line-height: 5.2rem; /* 130% */
    margin-bottom: 5.6rem;
  }
  .preparation__img {
    width: 69.4rem;
    height: 72rem;
    margin-left: -5.2rem;
  }
  .preparation__img-flower {
    width: 15.7922rem;
    height: 21.3054rem;
    bottom: -7.7rem;
  }
  .preparation__img-flower svg {
    width: 100%;
    height: 100%;
  }
  .preparation__img::before {
    right: -2.4rem;
    bottom: -2.4rem;
  }
  .preparation .button {
    padding: 3.6rem 9.6rem;
  }
}

.example {
  margin-bottom: 17rem;
  overflow-x: hidden;
}
.example__text {
  color: #3C3C3B;
  text-align: center;
  font-weight: 500;
  line-height: 5.72rem; /* 130% */
  margin-bottom: 6.4rem;
  padding: 0 6.1rem;
}
.example__text p {
  font-size: 4rem;
}
.example__text p:not(:last-child) {
  margin-bottom: 8rem;
}
.example__text ul {
  font-size: 4rem;
}
.example__text ul:not(:last-child) {
  margin-bottom: 8rem;
}
.example__text ul li:not(:last-child) {
  margin-bottom: 2rem;
}
.example__text .example__title {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.example__swiper {
  width: 203rem;
  margin-left: -41rem;
  margin-bottom: 4.4rem;
}
.example__swiper-slide {
  width: 39rem;
  height: 54rem;
}
.example__swiper-slide img {
  width: 100%;
  height: 100%;
}
.example__subtitle {
  margin: 0 auto;
  width: 28.6rem;
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #CCA870;
  text-align: center;
}
@media (max-width: 48em) {
  .example {
    margin-bottom: 22rem;
  }
  .example__text {
    font-size: 4rem;
    font-weight: 500;
    line-height: 5.2rem; /* 130% */
    margin-bottom: 8rem;
  }
  .example__swiper {
    margin-left: -68rem;
    margin-bottom: 8rem;
  }
  .example__swiper-sldie {
    width: 40rem;
    height: 54rem;
  }
  .example__subtitle {
    font-size: 4rem;
    font-weight: 500;
    line-height: 5.2rem; /* 130% */
    padding-bottom: 1.6rem;
    width: 44.8rem;
  }
}

.more {
  position: relative;
  padding: 4rem 0;
}
.more__container {
  padding: 0 11.5rem;
}
.more__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.more__content {
  position: relative;
  background-color: #fff;
  width: 98rem;
  height: 35.7rem;
  padding-left: 43rem;
  padding-top: 4.6rem;
}
.more__img {
  position: absolute;
  left: -5.1rem;
  bottom: 0;
  width: 38.6rem;
  height: 33.3rem;
}
.more__img img {
  width: 100%;
  height: 100%;
}
.more__title {
  color: #3C3C3B;
  font-size: 4rem;
  font-weight: 500;
  line-height: 5.2rem; /* 130% */
  margin-bottom: 1.9rem;
  width: 27.2rem;
}
.more__title span {
  color: #CCA870;
}
.more__text {
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.12rem; /* 130% */
  margin-bottom: 4.4rem;
  width: 43.3rem;
}
.more__text span {
  color: #CCA870;
}
.more .button {
  background-image: url(../img/svg/wallet.svg);
  width: 32.4rem;
}
@media (max-width: 48em) {
  .more__container {
    padding: 0 3.2rem;
  }
  .more__img {
    display: none;
  }
  .more__content {
    width: 68.6rem;
    height: auto;
    padding: 8.4rem 7rem;
    margin: 0 auto;
    text-align: center;
  }
  .more__title {
    width: auto;
    font-size: 7.2rem;
    line-height: 140%; /* 10.08rem */
    letter-spacing: 0.2rem;
    margin-bottom: 2.4rem;
  }
  .more__text {
    width: auto;
    font-size: 4rem;
    font-weight: 500;
    line-height: 5.2rem; /* 130% */
    letter-spacing: 0.2rem;
    margin-bottom: 5.6rem;
  }
  .more .button {
    width: auto;
    padding: 3.6rem 9.6rem;
    background-image: none;
  }
}

.hotels {
  padding: 17rem 0 39.5rem 0;
  margin: 0;
}
.hotels__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hotels__descr {
  width: 46.8rem;
}
.hotels__title {
  color: #3C3C3B;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}
.hotels__text {
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.12rem; /* 130% */
  margin-bottom: 4rem;
}
.hotels .button {
  background-image: none;
  padding: 1.8rem 4.2rem;
}
.hotels__img {
  position: relative;
  width: 49.3rem;
  height: 65.5rem;
}
.hotels__img-small {
  position: absolute;
  left: -9.2rem;
  top: 19.5rem;
  width: 18.5rem;
  height: 26.6rem;
}
.hotels__img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 48em) {
  .hotels {
    padding: 6rem 0 34rem 0;
  }
  .hotels__container {
    flex-direction: column;
  }
  .hotels__descr {
    width: auto;
    margin-bottom: 8.8rem;
  }
  .hotels__title {
    font-size: 7.2rem;
    line-height: 140%; /* 10.08rem */
    letter-spacing: 0.2rem;
    margin-bottom: 2.4rem;
  }
  .hotels__text {
    font-size: 4rem;
    font-weight: 500;
    line-height: 5.2rem; /* 130% */
  }
  .hotels .button {
    display: none;
  }
  .hotels__img {
    width: 55.4rem;
    height: 47.6rem;
    align-self: flex-end;
  }
  .hotels__img-small {
    width: 22.8rem;
    height: 27.6rem;
    top: -3.2rem;
    left: -13.2rem;
  }
}

.requirements {
  position: relative;
  background-color: rgba(204, 168, 112, 0.2);
  padding: 17rem 0;
  margin-bottom: 28.5rem;
}
.requirements__container {
  padding-left: 62.5rem;
}
.requirements__img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 91.2rem;
  height: 99.7rem;
}
.requirements__img-small {
  position: absolute;
  right: 0;
  top: -22.5rem;
}
.requirements__img img {
  width: 100%;
  height: 100%;
}
.requirements__title {
  width: 48.3rem;
  color: #3C3C3B;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  margin-left: -16.5rem;
  position: relative;
  z-index: 5;
  margin-bottom: 6.4rem;
}
.requirements__swiper {
  width: 58.5rem;
}
.requirements__swiper .swiper-wrapper {
  margin-bottom: 6.4rem;
}
.requirements__swiper-controlls {
  display: flex;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  align-items: center;
  justify-content: flex-end;
}
.requirements__swiper-controlls div {
  cursor: pointer;
}
.requirements__list {
  margin: 0;
  padding: 0;
  margin-left: 3.1rem;
}
.requirements__list-item {
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.12rem; /* 130% */
  padding-left: 1.8rem;
}
.requirements__list-item:not(:last-child) {
  margin-bottom: 2.2rem;
}
@media (max-width: 48em) {
  .requirements {
    padding: 22rem 0 76rem 0;
    margin-bottom: 44rem;
  }
  .requirements__container {
    padding: 0 3.2rem;
  }
  .requirements__title {
    margin-left: 0;
    font-size: 7.2rem;
    line-height: 140%; /* 10.08rem */
    letter-spacing: 0.2rem;
    margin-bottom: 2.4rem;
    width: auto;
  }
  .requirements__swiper {
    width: 68.6rem;
  }
  .requirements__swiper-controlls {
    display: none;
  }
  .requirements__list {
    margin-left: 4.6rem;
  }
  .requirements__list-item {
    font-size: 4rem;
    line-height: 5.2rem; /* 130% */
    padding-left: 2.4rem;
  }
  .requirements__list-item:not(:last-child) {
    margin-bottom: 1.6rem;
  }
  .requirements__img {
    width: 75rem;
    height: 68rem;
  }
  .requirements__img-small {
    width: 26.2rem;
    height: 37.2rem;
    right: 3.2rem;
    top: -12rem;
  }
}

.adventages {
  position: relative;
  padding: 6.8rem 0 12.3rem 0;
  margin-bottom: 33.1rem;
}
.adventages::before {
  content: "";
  position: absolute;
  top: 0;
  left: 45.8rem;
  width: 80rem;
  height: 74.5rem;
  background-color: rgba(204, 168, 112, 0.2);
  z-index: -1;
}
.adventages__row {
  display: flex;
}
.adventages__row:first-child {
  margin-bottom: 6.8rem;
}
.adventages__row:first-child .adventages__img {
  width: 35.2rem;
  height: 42.6rem;
  margin: -18.3rem 6.8rem 0 20.5rem;
}
.adventages__row:first-child .adventages__img img {
  width: 100%;
  height: 100%;
}
.adventages__row:first-child .adventages__descr {
  width: 38.4rem;
}
.adventages__row:last-child {
  justify-content: space-between;
}
.adventages__row:last-child .adventages__descr {
  width: 28.4rem;
}
.adventages__title {
  color: #3C3C3B;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}
.adventages__text {
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.12rem; /* 130% */
}
.adventages__line-text {
  padding-top: 3.5rem;
  display: flex;
  -moz-column-gap: 4.2rem;
       column-gap: 4.2rem;
  width: 69.2rem;
  height: 6.3rem;
  align-items: center;
}
.adventages__line-text .adventages__text {
  width: 16.3rem;
}
.adventages__line {
  width: 48.7rem;
  height: 0.1rem;
  background-color: #CCA870;
}
.adventages__img-2 {
  position: absolute;
  right: 56rem;
  bottom: -16.7rem;
  width: 59.5rem;
  height: 36rem;
}
.adventages__img-2 img {
  width: 100%;
  height: 100%;
}
@media (max-width: 48em) {
  .adventages {
    padding: 22rem 0;
    margin-bottom: 42.6rem;
  }
  .adventages::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .adventages__row:first-child {
    margin-bottom: 8rem;
  }
  .adventages__row:first-child .adventages__img {
    position: absolute;
    right: 3.2rem;
    top: -22rem;
    width: 26.2rem;
    height: 34rem;
    margin: 0;
  }
  .adventages__row:first-child .adventages__descr {
    width: auto;
  }
  .adventages__row:last-child {
    flex-direction: column-reverse;
  }
  .adventages__row:last-child .adventages__descr {
    width: auto;
  }
  .adventages__title {
    font-size: 7.2rem;
    line-height: 140%; /* 10.08rem */
    letter-spacing: 0.2rem;
    margin-bottom: 4rem;
  }
  .adventages__text {
    font-size: 4rem;
    line-height: 5.2rem; /* 130% */
  }
  .adventages__line-text {
    padding: 0;
    margin: 0 0 8rem 0;
    width: auto;
    height: auto;
    -moz-column-gap: 3.6rem;
         column-gap: 3.6rem;
  }
  .adventages__line-text .adventages__text {
    width: 39rem;
  }
  .adventages__img-2 {
    width: 42.4rem;
    height: 32.6rem;
    right: 29.4rem;
    bottom: -20.6rem;
  }
}

.examples {
  margin-bottom: 17rem;
}
.examples__title {
  color: #3C3C3B;
  text-align: center;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 5.72rem; /* 130% */
  margin-bottom: 6.4rem;
}
.examples__swiper {
  width: 156.5rem;
  height: 63.2rem;
}
.examples__swiper .swiper-slide.show-name .examples__hotel {
  max-height: 9.2rem;
  visibility: visible;
}
.examples__swiper .swiper-slide.bottom-active .examples__hotel {
  max-height: 9.2rem;
}
.examples__hotel {
  text-align: center;
  height: 9.2rem;
  max-height: 0;
  transition: 0.2s ease-in-out;
  visibility: hidden;
}
.examples__hotel-name {
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #CCA870;
  width: -moz-min-content;
  width: min-content;
  text-wrap: nowrap;
  margin: 0 auto;
}
.examples__slide-img {
  width: 39rem;
  height: 54rem;
}
.examples__slide-img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 48em) {
  .examples {
    margin-bottom: 32rem;
  }
  .examples__title {
    font-size: 7.2rem;
    line-height: 140%; /* 10.08rem */
    letter-spacing: 0.2rem;
    margin-bottom: 8rem;
  }
  .examples__swiper {
    width: 71.8rem;
    height: 64.8rem;
  }
  .examples__hotel {
    height: 10.8rem;
  }
  .examples__hotel-name {
    font-size: 4rem;
    font-weight: 500;
    line-height: 5.2rem; /* 130% */
    padding-bottom: 1.6rem;
    margin: 0;
  }
  .examples__slide-img {
    width: 40rem;
    height: 54rem;
  }
}

.guarantee {
  position: relative;
  padding: 25.8rem 0;
  background-color: rgba(204, 168, 112, 0.2);
  margin-bottom: 34rem;
}
.guarantee::before {
  content: "";
  position: absolute;
  top: 17rem;
  left: 76.5rem;
  width: 49.3rem;
  height: 56.6rem;
  background-color: #fff;
  z-index: 0;
}
.guarantee__container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}
.guarantee__line-text {
  width: 56rem;
  height: 6.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}
.guarantee__text {
  color: #3C3C3B;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.12rem; /* 130% */
  width: 16.3rem;
}
.guarantee__line {
  height: 0.1rem;
  width: 35.5rem;
  background-color: #CCA870;
}
.guarantee__descr {
  width: 58.5rem;
  text-align: center;
}
.guarantee__title {
  color: #3C3C3B;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 5.72rem; /* 130% */
  margin-bottom: 4.4rem;
}
.guarantee .button {
  padding: 1.8rem 4.2rem;
  background-image: none;
}
.guarantee__img {
  position: absolute;
  bottom: -17rem;
  left: 35.5rem;
  width: 49.3rem;
  height: 61.3rem;
}
.guarantee__img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 48em) {
  .guarantee {
    padding: 22rem 0;
  }
  .guarantee::before, .guarantee__line-text {
    display: none;
  }
  .guarantee__descr {
    width: auto;
    text-align: left;
  }
  .guarantee__title {
    font-size: 4rem;
    font-weight: 500;
    line-height: 5.2rem; /* 130% */
    margin-bottom: 5.6rem;
  }
  .guarantee .button {
    padding: 3.6rem 9.6rem;
  }
  .guarantee__img {
    width: 26.2rem;
    height: 37.2rem;
    bottom: 61.6rem;
    left: calc(100% - 29.6rem);
  }
}/*# sourceMappingURL=style.css.map */