.begin {
    position: relative;
    margin-bottom: 17rem;

    &::before {
        content: '';
        position: absolute;
        top: 6rem;
        left: 0;
        width: 100%;
        height: 59rem;
        background-color: $biege;
        z-index: -1;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__descr {
        width: 47.5rem;
    }

    &__title {
        color: $grey;
        font-size: 4.4rem;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.1rem;
        margin-bottom: 2rem;
    }

    &__text {
        color: $grey;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 3.12rem; /* 130% */
        margin-bottom: 4rem;
    }

    &__img {
        position: relative;
        width: 56.4rem;
        height: 71rem;

        &::before {
            content: '';
            position: absolute;
            right: -2rem;
            top: -2rem;
            width: 100%;
            height: 75rem;
            background-color: $lightBrown;
            z-index: -1;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .button {
        background-image: none;
        padding: 1.8rem 4.2rem;
    }

    @media (max-width: 48em) {
        padding: 22rem 0 24.4rem 0;

        &::before {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &__container {
            flex-direction: column;
        }

        &__descr {
            width: auto;
            margin-bottom: 10.4rem;
        }

        &__title {
            color: $grey;
            font-size: 7.2rem;
            font-weight: 500;
            line-height: 140%; /* 10.08rem */
            letter-spacing: 0.2rem;
            margin-bottom: 2.4rem;
        }

        &__text {
            color: $grey;
            font-size: 4rem;
            font-weight: 500;
            line-height: 5.2rem; /* 130% */
            margin-bottom: 5.6rem;
        }

        &__img {
            width: 69.4rem;
            height: 72rem;
            margin-left: -5.2rem;

            &::before {
                top: -2.4rem;
                right: -2.4rem;
                height: 76.8rem;
            }
        }

        .button {
            padding: 3.6rem 9.6rem;
        }
    }
}